/*
	Genérico
*/

/*
.template-promociones{
    margin: 65px 0;
}*/

/*************************/
/**** Polo No Worries ****/
/*************************/

#polo-no-worries ul.list li {
margin: 15px 0;
font-size: 25px;
color: #180742;
}

#polo-no-worries ul.list li i{
color: #ec6608!important;
font-size: 22px;
}

#polo-no-worries .wpcf7-form input[type="submit"]{
    background: #ec6608;
}

#polo-no-worries ul.list {
    margin: 0px!important;
}

/****************************/
/**** audi-q3-23990-euros ***/
/****************************/

.promo-audi-11062018 .wpcf7-form input[type="submit"]{
    background: #e84040!important;
}

/**************************************/
/**** volkswagen-tiguan-21990-euros ***/
/*************************************/

.promo-vw-11062018 .wpcf7-form input[type="submit"]{
    background: #1058a0!important;
}

.promo-vw-11062018 .wpcf7-form input[type="submit"]:hover{
    color: #FFFFFF;
     background: #1573d1!important;
}

/*************************/

.template-promociones .wpb_wrapper .list li span{
	font-size: 21px;
	vertical-align: top;
    line-height: 3;
    line-height: 1.5;
    font-weight: 500;
}

.template-promociones ul.list{
	margin-top: 10px !important;
	margin-bottom: 60px !important;
}

.template-promociones ul.list li{
	margin-top:0 !important;
}

.template-promociones ul.list li i{
	font-size: 33px;
}

.template-promociones .nice-select{
	color:#5c6168;
}

.template-promociones .wpcf7-form input[type="submit"]{
	margin-top:20px;
}


/*
	VW - oportunidad-unica-audi-q3-t-roc 20032018
*/

.template-promociones .nice-select{
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border-color: #9ebde4;
width: 100%;
line-height: 40px;
}

/*
	Encuestas de Audi y VW
*/

.starratingawesome > input:checked ~ label {
    color: #9ebde4;
}

.formulario-encuesta-audi, .formulario-encuesta-vw  {
    font-size: 20px;
}

.formulario-encuesta-audi .row, .formulario-encuesta-vw .row  {
    text-align: center;
    padding-bottom: 12px;
}

.texto{
    text-align: right;
    text-decoration: underline;
    font-weight: 600;
}

.formulario-encuesta-audi .texto{
    color: #C03;
}

.formulario-encuesta-vw .texto{
    color: #0099da;
}

.formulario-encuesta-audi .wpcf7-starratingawesome.starratingawesome, .formulario-encuesta-vw .wpcf7-starratingawesome.starratingawesome {
    font-size: 30px;
}

.formulario-encuesta-audi .fa-asterisk{
    color: #CC0033;
    font-size: 18px;
    padding-right: 10px; 
}

.formulario-encuesta-vw .fa-asterisk{
    color: #0099da;
    font-size: 18px;
    padding-right: 10px; 
}

.formulario-encuesta-vw .checkbox-encuesta {
    margin: 30px auto 10px;
    width: 350px;
    font-size: 18px;
}

.formulario-encuesta-vw input[type="checkbox"], .formulario-encuesta-audi input[type="checkbox"] {
    width: 22px;
    height: 22px;
}

.btn-volver{
    width: 220px;
    margin: 0px auto;
}

