/*
Theme Name:  PerCar Child
Author:      Alola Media
Author URI:  http://www.alola.es
Description: Percar - Concesionarios Audi y Volkswagen
Text Domain: percar-child
Template:    percar
*/

body, p{
	color: #5c6168;
}
.button{
	text-transform: none;
}
h1,h2,h3,h4,h5,h6, .widget .widgettitle::before,.entry-title a{
	color:#5c6168;
	text-transform: none;
}
input{
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #9EBDE4;
}

.vc_row[data-vc-full-width]{
	overflow:visible;
}
.button{
	-webkit-border-radius:30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-align:center;
}
.button-pr{
	background-color:#5c6168;
	padding:6px 40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.page-template-default .page-section-ptb{
	margin-top:0px;
}
.pswp__img {
  height: auto !important;
}
.pswp__bg{
	background: #586A80;
}
.nice-select{
	color:#323232;
}
.ui-slider-handle{
	-ms-touch-action: none;
	touch-action: none;
}

.mega-menu .menu-mobile-collapse-trigger.active:before{
	webkit-transform: rotate(33deg);
    -ms-transform: rotate(33deg);
    transform: rotate(33deg);
}
.mega-menu .menu-mobile-collapse-trigger.active:after{
	-webkit-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    transform: rotate(-33deg);
}
.no-margin{
	margin-left:0;
	margin-right:0;
}
#tabs .tabcontent{
	overflow: inherit;
}

/* --  Estilos botones  --  */
.comments-info .reply .comment-reply-link{
	color:white;
	background-color:#9ebde4;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.comments-info .reply .comment-reply-link:before{
	display:none;
}
.comment-reply-link:hover,input.button:hover{
	background: #b7d0f1!important;
	color:#5c6168 !important;
}
.section-field.textarea textarea{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.count-box{display:none !important;}
/* --  Tabs  --  */

.search-inicio  #tabs .tabcontent{
	overflow: visible;
}

.search-inicio .tabs .tab-ocasion{
	text-align: right;
}
.search-inicio .tabs .tab-km0{
	text-align: left;
}
.filter-single-cars-ocasion #km0 .nice-select{
	line-height: 38px !important;

}
.form-vehiculos-km0 .nice-select{
	line-height: 38px !important;

}
.proteccion_datos_form{
	font-size: 9px;
	margin-top: 5px;
	line-height: 1.6;
}
.proteccion_datos_form #titulo{
	font-weight: 600;
    margin-bottom: 3px;
    margin-top:20 !important; 
}
.proteccion_datos_form span{
 	font-weight: 600;  
}

.um-account-main .proteccion_datos_form p:nth-child(2){
 	margin-top:0 !important; 
}

div.contenedor-form .proteccion_datos_form br{ 
 	display:inline-block !important; 
}
.proteccion_datos_form.blanco #titulo,
.proteccion_datos_form.blanco p,
.proteccion_datos_form.blanco span{
	color:white;
}
#cars-pagination-nav ul li{
	line-height:45px;
}
/*.form-vehiculos-km0 .nice-select ul{
	z-index: 2;
}*/
.section-field.textarea textarea{
	color:#5c6168;
}
.section-field textarea:focus{
	color:#5c6168;
	background:#f5f5f5;
}
/* --   Header   --  */
body #header.defualt .topbar{
	padding:3px 0;
}
.list-inline > li{
	border-right:1px solid #96afcf;
	padding-right: 10px;
}
.list-inline > li:last-child{
	border-right:none;
}

.list-inline > li.topbar_item{
	border-right:none;
}
.topbar{
	padding:3px 0 0 0;
}
#header.logo-center .topbar .row > [class*="col-"]{
	text-align: left;
}
#header .topbar .list-inline > li a:hover{
	color: #768EAB;
}
.mega-menu{
	min-height: 60px;
}
.mega-menu, .mega-menu *{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size:14px;
}
.mega-menu .menu-inner{
	background-color:white;
	max-height:60px !important;
}
.mega-menu .menu-logo{
	padding:15px 0 15px 0;
}
#header .menu .menu-inner{
	height: 62px !important;
}
#header .menu .menu-inner div > .row #primary-menu > li.menu-item > a,
#header .menu .menu-inner div > .row #left-main > li.menu-item > a{
	color:#5c6168;
	text-transform: none;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
}
.mega-menu .menu-mobile-collapse-trigger::before, 
.mega-menu .menu-mobile-collapse-trigger::after, 
.mega-menu .menu-mobile-collapse-trigger span {
	background-color:#5c6168;
	margin-right: 10px;
}

@media (max-width: 992px) {
	#header .menu .menu-inner div > .row #primary-menu, 
	#header .menu .menu-inner div > .row #primary-menu > li.menu-item{
		background-color:transparent;
		border-bottom:1px solid #e0e0e0;
	}
	.mega-menu .menu-logo{
		padding:17px 0 15px 0;
	}
	.mega-menu .menu-mobile-collapse-trigger{
		top:8px;
	}
}
#page.header-hidden .defualt{
	background:white;
}
#primary-menu{
	max-height:470px !important;

}

#header .menu .menu-inner div > .row #primary-menu > li > .drop-down-multilevel .current-menu-item a,
#header .mega-menu .drop-down-multilevel li:hover > a,
header a:hover, #header .menu-inner div > .row #primary-menu > li.menu-item:hover > a, 
#header .menu-inner div > .row #primary-menu > li.menu-item > a:hover,
#header .menu-inner div > .row #left-main > li.menu-item > a:hover
{
	color:#7999c1;
}
#menu-item-4905{
	display:none;
	background-color:#9ebde4 !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#header .menu .menu-inner div > .row #primary-menu > li#menu-item-4905 > a{
	color:white;
}
#menu-item-4905 a{
	color:white;
}
@media (max-width: 768px) {
	#menu-item-4905{
		display:block;
	}
	.search-home .rev_slider_wrapper{
		display:none;
	}
}
.mega-menu .drop-down-multilevel{
	display:block;
	background-color:#9ebde4 !important;
	color:white;
}

#menu-item-1761,
#menu-item-1762,
#menu-item-1763,
#menu-item-6313,
#menu-item-6759,
#menu-item-7343,
#menu-item-7344,
#menu-item-7345,
#menu-item-7346{
	display:none;
}
.mega-menu .menu-left-links{
	float:left;
	padding-left:0;
}

.mega-menu .menu-left-links li{
	margin: 0;
	padding: 0;
	display: table-cell;
	float: none;
	-webkit-transition: background-color .2s ease;
	transition: background-color .2s ease;
	font-size: 1em;
}

#header.logo-center .menu .menu-inner div > .row #left-main > li.menu-item > a{
	line-height: 66px !important;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	font-weight: 400;
	margin: 0;
	padding: 0 13px;
	display: inline-block;
	float: none;
	width: 100%;
	font-size: 12px;
	line-height: 64px;
	position: relative;
}
.menu-der, .menu-izq{
	margin:0 !important;
	padding:0 !important;
}
#header.logo-center .row > [class*="col-"].menu-der{
	text-align: right;
}
#header.logo-center .row > [class*="col-"].menu-izq{
	text-align: left;
}
#header.logo-center .menu .menu-inner div > .row #left-main > li.menu-item:first-child > a{
	padding-left:0;
}
#header.logo-center .menu .menu-inner div > .row #primary-menu > li.menu-item.menu-item-search{
	vertical-align: middle !important;
	height:30px;
}

@-moz-document url-prefix() { 
	.menu-item-search .search .search-btn::before{
		top:14px;
	}
}
#header.logo-center .mega-menu.desktopTopFixed .menu-list-items{
	margin-top:30px;
	z-index: -1;
}

.topbar-left{
	padding-top:2px;
}
#header.logo-center .mega-menu.desktopTopFixed .menu-logo > li > a img{
	margin:auto;
}
#header.logo-center .mega-menu.desktopTopFixed .menu-logo > li,
#header.logo-center .mega-menu.desktopTopFixed .menu-logo{
	float:none;
}
#header.logo-center .mega-menu.desktopTopFixed .menu-logo{
	padding:18px 0;
}
@media (max-width: 992px) {
	#header.logo-center .row > [class*="col-"].menu-izq{
		display:none;
	}
}

/* --   Slide vehículos   --  */
.slide-vehiculos-home .vc_row-background-overlay{
	background-color:#E0E0E0;
}
.car-item{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	overflow:hidden;
}
.oferta-slide{
	text-align: center;
	width:100%;
	color: #4da54d;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 4px;
}
.vendido-slide{
	text-align: center;
	width:100%;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 4px;
	color: #f2656d;
}
.reservado-slide{
	text-align: center;
	width:100%;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 4px;
	color: #FF8000;
}

.product-listing .car-price{
	background:transparent;
	color:#5c6168;
	padding:0 20px;
	padding-left:0;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-left: 2px;
}

.owl-item .car-price{
	background:transparent;
	color:#5c6168;
	padding:0 20px;
	padding-right:0;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-left: -20px;
}

.car-item .price span.old-price{
	color:#5c6168;
	text-decoration:line-through;
	font-weight: 600;
}
.car-item .price span.new-price{
	color: #f2656d;
	text-decoration:none;
	font-weight: 600;
}

.feature-car .owl-item .car-item .car-content{
	border:none;
}
.car-details .feature-car{
	margin-bottom: 20px;
}

.car-item .car-content{
	padding:20px;
}
.car-item .price span.old-price{
	display:inline-block;
}
.car-price{
	float:none !important;
}
.car-detail-galeria .car-price{
	float:right !important;
	padding-right:0;
	padding-top:10px;
}
.car-content a{
	text-align: left;
	font-size: 13px;
    line-height: 1.3;
    border-bottom:1px solid #e0e0e0;
    padding-bottom:10px;
    margin-bottom: 10px; 
}
.car-content a .info-caracteristicas{
	color:#9ebde4;
    font-size: 14px;
    font-weight: 400;
}
.car-item .car-overlay-banner{
	background-color: rgba(69, 73, 78,.9) !important
}
.owl-carousel .owl-controls .owl-nav .owl-next i, .owl-carousel .owl-controls .owl-nav .owl-prev i{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev{
	 position: relative;
	 display: inline !important;

	 opacity: 1;
	 left: 0;
	 right:0;
	 top:0 !important;
}

.owl-carousel .owl-nav .owl-prev{
	margin-right: 5px
}
.owl-carousel .owl-nav .owl-next{
	margin-left: 5px
}
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next{
	left: 0;
 	right:0;
}
.owl-carousel .owl-nav{
	text-align: center;
	position:relative;
	margin-top:40px;
}

.owl-carousel .owl-dots{
	display:none !important;
}
/*.owl-carousel .owl-stage-outer{
	overflow: visible !important;
}
.owl-next,.owl-prev{
	display:none;
}
.owl-carousel .owl-nav{
	margin-top:190px;
}*/
/* --   Listado de vehículos  --  */

.page-section-ptb{
	padding-top:40px;
	background: #e0e0e0;
}
.page-section-ptb h2{
	font-size: 25px;
}
.page-section-ptb .cars-top-filters-box-right{
	background-color: #e0e0e0;
/*	margin-top: -50px;*/
}

.product-listing.page-section-ptb .section-title{
	margin-bottom:20px;
	border-bottom:2px solid white;
	padding-bottom:20px;
}
.page-section-ptb .nice-select{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #9ebde4;
}
.nice-select.open .list{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	max-height: 280px;
}

.car-content a.car-slide-ver-coche
{
	display:inline-block;
	width: 80%;
	padding:6px 25px 7px 25px;
	margin-top:10px;
	margin-bottom: 20px;
	background:#9ebde4;
	color:white;
	font-size: 13px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	text-align: center;
	font-weight: 500;
	border-bottom:none;
}
.car-content .like_mobile
{
	display:inline-block;
	width: 20%;
	text-align: right;

}
.car-content .wpulike-robeen .like_mobile svg
{
	margin:0;
	border:none !important;
}

.car-content a.car-slide-ver-coche:hover
{
/*	color:#ffffff;
    background: #7999c1;/*#757779*/
    background: #b7d0f1;
    color: #5c6168;
}

.owl-item .car-content a.car-slide-ver-coche{
	margin-bottom:0;
}
.car-item .car-overlay-banner ul{
	top:50%;
}



.owl-item .car-item{
	min-height: 425px !important;
}
.owl-item .car-price{
position:absolute;
margin:auto;
margin-bottom:20px;
width:100%;
left:0;
/*	left: 15px;
margin-bottom: 20px;*/
}
.pagination{
	margin-top:20px;
	margin-bottom: 20px;
}
.pagination > li > a, .pagination > li > span{
	border: 1px solid #bebebe;
	color:#bebebe;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.pagination > li > span.current{
	background: #9ebde4;
    color: white;
    border: 1px solid #9ebde4;
    padding-top:9px;
    margin-right: 3px;
    margin-left: 3px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span{
		-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.pagination > li > span.dots{
	background: transparent;
    color: #bebebe;
    border: none;
}


.car-item .car-image img{
	width:100%;
}

.car-item .car-image{
	max-height: 220px;
}


/* -- Ocasión -  Vehicles details   --  */

.product-listing{
	padding-bottom:20px;
}
.product-listing .wpulike-robeen svg{
	width: 32px;
	margin-top:4px;
}
.product-listing .car-item{
	min-height:420px;
	border:0;
}
.product-listing .section-title{
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid white;
}
.product-listing-ocasion .section-title{
	margin-top:40px;
}
.filter-single-cars-ocasion{
	background-color:#9ebde4;
	padding-top:10px;
	margin-top:0px;
}
.search-home .filter-single-cars-ocasion{
	background-color:#9ebde4;
	padding-top:30px;
	padding-bottom: 10px;
	margin-top:0px;
}
.filter-grid-cars-fav .filter-single-cars-ocasion{
	padding-top:10px;
}
.filter-single-cars-ocasion .section-title{
	margin-bottom: 0px;
}
.filter-single-cars .section-title span, .filter-single-cars-ocasion .section-title span{
	display:inline-block;
	color:#f2656d;
}


.filter-single-cars-ocasion .search-block{
	background:transparent;
}
.filter-single-cars-ocasion  .nice-select{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #9ebde4;
	width: 100%;
	line-height: 15px;
}
.filter-single-cars-ocasion .search-content-km0 .nice-select{
	line-height: 38px !important;

}
.filter-single-cars-ocasion  .nice-select.open .list{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.filter-single-cars-ocasion .btn-search:disabled{
	cursor: not-allowed;
}
.filter-single-cars-ocasion .btn-search{
	padding: 10px 20px;
    background-color: #5c6168;
    width: 100%;
    border:none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    color:white;
}
.filter-single-cars-ocasion .btn-search:hover{
	background-color:#757779;
}
.filter-single-cars-ocasion.filter-grid-cars-ocasion .price label {
    padding-top: 10px;
    color: white;
}
.filter-single-cars-ocasion.filter-grid-cars-ocasion .price input {
    display: inline;
    color: #f2656d;
}

.product-listing .cars-top-filters-box-right{
	background-color: #e0e0e0;
	margin-top: -40px;
}
.product-listing .filtos-ocasion.cars-top-filters-box-right{
	background-color: #e0e0e0;
	margin-top: -50px;
}
.filtos-ocasion .nice-select{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: #9ebde4;
	display: inline-block;
	line-height: 40px;
	clear:none;
	margin-left:15px;
}
.paginate-ocasion{
	width:100%;
	clear: both;
	padding-top: 50px;
	margin-bottom: 40px;
	text-align: center;
}

.paginate-ocasion ul li a{
	border:1px solid #bebebe;
}
.paginate-ocasion ul li a{
	border:1px solid #bebebe;
}


.paginate-ocasion .pagination li a:focus, .paginate-ocasion .pagination li a:active{
	background:transparent;
	border-color: #bebebe;
	color:#bebebe;
}
.paginate-ocasion .pagination li.active a{
	background:#9ebde4;
	color:white;
	border-color: #9ebde4;
}
.info-marca, .info-modelo{
	text-transform: capitalize;
}

  .paginate-ocasion {
    margin: 15px 0;
  }

  .paginate-ocasiona {
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
  }




/*  .paginate-ocasion a.jp-previous { margin-right: 15px; }
  .paginate-ocasion a.jp-next { margin-left: 15px; }*/

  .paginate-ocasion a.jp-current, a.jp-current:hover {
     background: #9ebde4;
    color: white;
    border: 1px solid #9ebde4;
    padding-top: 9px;
    margin-right: 3px;
    margin-left: 3px;
  }

  .paginate-ocasion a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
  }

  .paginate-ocasion a.jp-current, a.jp-current:hover,
  .paginate-ocasion a.jp-disabled, a.jp-disabled:hover {
    cursor: default;
  }

  .paginate-ocasion span { 
  	margin: 15px 15px;
  	color: #bebebe;
  }
  .paginate-ocasion a { 
  	display:inline-block;
  	border: 1px solid #bebebe;
    color: #bebebe;
  	padding:10px 0;
  	font-size: 15px;
    font-weight: 500;
    margin: 0 3px;
    height:45px;
    width:45px;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius:  6px;
	margin-bottom: 5px;
  }
    .paginate-ocasion a:hover {
    background: #9ebde4;
    color: white;
    border: 1px solid #9ebde4;
    margin-right: 3px;
    margin-left: 3px;
  }

  /* --   Vehicle details / galería 360   --  */


.pag{
    text-align: center;
    margin-bottom: 20px;

}
.pag a{
    display: inline-block;
    color: black;
    padding: 5px;
    cursor: pointer;
    height: 40px;
    line-height: 1.9;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    border-radius: 50%;
    color: #9ebde4;
    border: 2px solid #9ebde4;
}
.pag a:hover{
    background:white;
}
ol > li{
    list-style:none;
}
.threesixty-wrap{
    padding-top:60px;
    margin-bottom:20px;
    background-color:white;
    margin-top:20px !important;
}
.threesixty{
    padding:40px 0;
    min-height:300px;
}
ul.tabs-view-detalles{
    text-align: center;
    margin-top:20px !important;
}
ul.tabs-view-detalles li{
    border: 1px solid  #9ebde4 !important;
    padding: 0px 15px !important;
    font-weight: 500;
    color: #9ebde4 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    font-size: 12px !important;
}
ul.tabs-view-detalles li.active{
    border-bottom:0 !important;
    border: 1px solid  #9ebde4 !important;
    color:white !important;
    background-color:#9ebde4 !important;
}
.galeria-vehiculo-details .tabcontent{
    margin-top:0 !important;
}
/*  form { float: right; margin-right: 10px; }

  form label { margin-right: 5px; }*/



/* --   Home searcher   --  */


.vehiculos-usuario-likes{
	background-color:#e0e0e0;
	padding-top:30px;
}

.vehiculos-usuario-likes .img-responsive{
	width:100%;
}
.vehiculos-usuario-likes .car-item{
	min-height: 420px;
	margin-bottom: 20px;
	margin-top:20px;
}
.vehiculos-usuario-likes .car-price{
	background:transparent;
	color:#5c6168;
	padding:0 0 0 20px;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-left: -20px;
}

/* --   Home searcher   --  */


.search-home .filter-single-cars-ocasion{
	background-color:#9ebde4;
	padding-top:30px;
	padding-bottom: 10px;
	margin-top:0px;
}
.search-home .section-title{
	padding:0;
	margin:0;
}

.search-home .section-title span{
	display:inline-block;
	color:#f2656d;
}
.search-home .search-block{
	padding:15px 20px 20px;
}
.search-block .selectpicker, .nice-select::before{
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.search-block{
	border:none;
}
.search-block span{
	display:none;
}
.search-block .button{
	padding:10px 20px;
	background-color:#5c6168;
	width:100%;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.search-block.transparent .nice-select .list{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
@media (max-width: 992px) {
	.search-block.select-type-vehicle{
		padding:30px 35px 0px;
	}
}
/* --   Home Grid   --  */

.home-fullwidth .section-title h2{
	font-size:14px;
	color:white;
	text-transform: none;

}
.section-title h2{
	font-size:30px;
	color:#5c6168;
	font-weight: bold;
	text-transform: none;
}
.home-fullwidth.newsletter .section-title h2{
	color:#5c6168;
}

.home-fullwidth .section-title span{
	font-size:30px;
	color:#5c6168;
	font-weight: bold;
}

.home-fullwidth .button-pr{
	background-color:#5c6168;
	padding:6px 40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}


.home-fullwidth.newsletter .wpcf7{
	padding-top:0;
}

/* --   Sección conócenos   --  */

.secc-conocenos{
	text-align: center;
}
.secc-conocenos .section-title{
	margin-bottom: 20px
}

/* --   Sección Posventa   --  */

@media (max-width: 768px) {
	.vc_empty_space{
		height:0 !important;
	}
	.posventa-img{
  		margin-top:30px;
  		margin-bottom:10px;
	}
  	.posventa-img-mov{
  		display: none
	}
	.posventa-text{
  		border-bottom:1px solid #D5D5D5;
  		padding-bottom:30px;
  		margin-bottom:20px;
	}
}

/* --   Blog slide   --  */

.blog-description.blog-description-slide{
	padding-top:10px;
}

.blog-description a.blog-title-slide{
	display:block;
	text-align: left;
	text-transform: none;
	font-weight: 700;
	color:#5c6168;
}
.blog-description a.blog-link-slide{
	color:#9ebde4;
	font-size:13px;
	text-transform: none;
}
.blog-categories .post-categories{
	list-style: none;
	display:block;
	padding:0;
	margin:0;
	overflow: auto;
}

.blog-categories .post-categories li{
	display:inline-block;
	float:left;
	height:auto;
}
.blog-categories .post-categories li a{
	background-color:#9ebde4;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-right:5px;
	padding: 1px 8px 0 8px;
	color: white;
	font-size: 10px;
	text-transform: uppercase;
}


.blog-categories .post-categories li.actualidad a{
	background:  #9ebde4;
    
}
.blog-categories .post-categories li.volkswagen a{
	background:  #7999c1;
}
.blog-categories .post-categories li.audi a{
	background:  #f2656d;
}
.blog-categories .post-categories li.promociones a{
	background: #88CFAC;
}
.blog-categories .post-categories li.tecnologia a{
	background:  #A040A0;
}
.blog-categories .post-categories li.promocion-finalizada a{
	background: #FFA040;
}

.blog-categories .post-categories li a:hover{
	background:#b7d0f1;
    color: #5c6168;
}








.blog-2 .blog-image + .blog-content{
	margin:0;
}
.blog-2 .blog-content{
	box-shadow:none;
}
.blog-2 .blog-description{
	padding-left:0;
	padding-right:0;
}

/* --   Páginas / Marcas   --  */


.marcas-titulo h2{
	font-weight: bold;
	padding-top:50px;
}

/* --   Marcas / Audi / Grid Imágenes   --  */

.grid-imagenes div{
	padding:0;
	background-position:center;
}
.grid-imagenes span{
	background-color:black;
	width:100%;
	height:100%;
	display:block;
	opacity:0;
	background-image: url('../percar-child/images/ico-plus.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.p-0{
	padding:0;
}
.h-50{
	height:150px;
}
.h-100{
	height:300px;
}
.h-conocenos{
	height:500px;
}
.h-conocenos, .h-100, .h-50{
	cursor:pointer;

}
.h-conocenos:hover span, .h-100:hover span, .h-50:hover span{

	opacity:.8;

}

/* --   Slider / Marcas / PrettyPhoto  --  */
div.pp_default .pp_expand{
	display:none !important;
}

div.pp_default .pp_content_container .pp_left,
div.pp_default .pp_content_container .pp_right,
div.pp_default .pp_bottom .pp_middle,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_top .pp_left,
div.pp_default .pp_bottom .pp_right,
div.pp_default .pp_bottom .pp_left,
.pp_middle{
	background:none !important;
}
div.pp_default .pp_content{
	background: transparent;
}

div.pp_default .pp_content{
	content:'X';
	background:transparent !important;
}

/* --   Slider / Marcas / Audi  --  */


.slick-prev, .slick-next{
	height:34px;
	width:50px;
	background: none;
	border: none;
	overflow: hidden;
}
.slick-prev::before, .slick-next::before{
	display:none;
}
.car-detail-galeria .slick-prev::before,
.car-detail-galeria .slick-next::before{
	display:block;
	content: '>';
}
.car-details .slick-slider .slick-next::before,
.car-details-ocasion .slick-slider .slick-next::before  {
    content: '\f105';
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #323232;
}
.slick-slider{
	margin-bottom: 0;

}
.slick-slider .slick-next:focus{
	background: transparent;
	border-color: transparent;
}
.entry-content .slick-arrow img{
	height:auto;

}
.entry-content .slick-arrow:hover img{
	margin-top:-20px;
}

.vehiculos-slider-audi .slider-img, .vehiculos-slider-vw .slider-img, .vehiculos-slider-vw-c .slider-img{
	height:120px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
}

.vehiculos-slider-audi .audi-slider-img-a1{
	background-image:url('../percar-child/images/audi/audi-a1-galicia.png');
}
.vehiculos-slider-audi .audi-slider-img-a2{
	background-image:url('../percar-child/images/audi/audi-a2-galicia.png');
}
.vehiculos-slider-audi .audi-slider-img-a3{
	background-image:url('../percar-child/images/audi/audi-a3-galicia.png');
	background-size: 83%;
}
.vehiculos-slider-audi .audi-slider-img-a4{
	background-image:url('../percar-child/images/audi/audi-a4-galicia.png');
}
.vehiculos-slider-audi .audi-slider-img-a5{
	background-image:url('../percar-child/images/audi/audi-a5-galicia.png');
}
.vehiculos-slider-audi .audi-slider-img-a6{
	background-image:url('../percar-child/images/audi/audi-a6-galicia.png');
}
.vehiculos-slider-audi .audi-slider-img-a7{
	background-image:url('../percar-child/images/audi/audi-a7-galicia.png');
}
.vehiculos-slider-audi .audi-slider-img-a8{
	background-image:url('../percar-child/images/audi/audi-a8-galicia.png');
}
.vehiculos-slider-audi .audi-slider-img-q2{
	background-image:url('../percar-child/images/audi/audi-q2-galicia-pontevedra.png');
}
.vehiculos-slider-audi .audi-slider-img-q3{
	background-image:url('../percar-child/images/audi/audi-q3-galicia-pontevedra.png');
}
.vehiculos-slider-audi .audi-slider-img-q5{
	background-image:url('../percar-child/images/audi/audi-q5-galicia-pontevedra.png');
}
.vehiculos-slider-audi .audi-slider-img-q7{
	background-image:url('../percar-child/images/audi/audi-q7-galicia-pontevedra.png');
}
.vehiculos-slider-audi .audi-slider-img-r8{
	background-image:url('../percar-child/images/audi/audi-r8-galicia-vigo.png');
	background-size: 92%;
}
.vehiculos-slider-audi .audi-slider-img-tt{
	background-image:url('../percar-child/images/audi/audi-tt-galicia-vigo.png');
}


.vehiculos-slider-audi .text-slider, .vehiculos-slider-vw .text-slider, .vehiculos-slider-vw-c .text-slider{
	color:#5c6168;
	text-align: center;
}

.marcas-encabezado{
	height:50px;
}
.marcas-encabezado.marcas-volkswagen{
	margin-top:-20px;
} 
@media (max-width: 1200px) {
	.vw-comerciales .section-title h2{
		display:block;
		margin-bottom:20px;
		font-size: 25px;
		line-height: 1.2;
	}
}
@media (max-width: 580px) {
	.vw-comerciales .section-title h2{
		margin-top:-25px;
	}
}
@media (max-width: 768px) {

	.marcas-encabezado .section-title h2{
		display:block;
		margin-bottom:20px;
		text-align: center;
	}
	.marcas-encabezado.marcas-volkswagen{
		margin-top:-20px;
	} 
	.wpb_single_image .vc_figure{
		text-align: center;
		margin-bottom:20px;
		display: block;
		margin-top:20px;
	}

}
@media (max-width: 450px) {
	.marcas-encabezado .section-title h2{
		font-size:20px;
		line-height: 1.2;
	}
	.vw-comerciales .section-title h2{
		margin-top:-30px;
	}
}





.slide-marca-audi .slick-prev,.slide-marca-audi .slick-next,
.vehiculos-slider-vw .slick-prev,.vehiculos-slider-vw .slick-next,
.vehiculos-slider-vw-c .slick-prev,.vehiculos-slider-vw-c .slick-next,
{

	display:block;
}

.slide-marca-audi .slick-prev, .vehiculos-slider-vw .slick-prev, .vehiculos-slider-vw-c .slick-prev{
	margin-top: 120px;
	margin-left: 49%;
}

.slide-marca-audi .slick-next, .vehiculos-slider-vw .slick-next, .vehiculos-slider-vw-c .slick-next{
	margin-top: 120px;
	margin-right: 49%;
}

.slide-marca-audi .slick-prev::before,.slide-marca-audi .slick-next::before,
.vehiculos-slider-vw .slick-prev::before,.vehiculos-slider-vw .slick-next::before,
.vehiculos-slider-vw-c .slick-prev::before,.vehiculos-slider-vw-c .slick-next::before{
	margin-top: 120px;
}

/* --   Marcas / volkswagen   --  */

.vehiculos-slider-vw .vw-slider-img-arteon{
	background-image:url('../percar-child/images/volkswagen/volkswagen-arteon-vigo-pontevedra.png');
	background-size:85%;
}
.vehiculos-slider-vw .vw-slider-img-beetle-cabrio{
	background-image:url('../percar-child/images/volkswagen/volkswagen-beetle-cabrio-vigo-pontevedra.png');
}
.vehiculos-slider-vw .vw-slider-img-beetle{
	background-image:url('../percar-child/images/volkswagen/volkswagen-beetle-vigo-galicia.png');
}
.vehiculos-slider-vw .vw-slider-img-golf-alltrack{
	background-image:url('../percar-child/images/volkswagen/volkswagen-golf-alltrack-vigo-pontevedra.png');
}
.vehiculos-slider-vw .vw-slider-img-golf-sportsvan{
	background-image:url('../percar-child/images/volkswagen/volkswagen-golf-sportsvan-vigo-galicia.png');
	background-size:75%;
}
.vehiculos-slider-vw .vw-slider-img-golf-variant{
	background-image:url('../percar-child/images/volkswagen/volkswagen-golf-variant-pontevedra-galicia.png');
}
.vehiculos-slider-vw .vw-slider-img-golf{
	background-image:url('../percar-child/images/volkswagen/volkswagen-golf-vigo-pontevedra.png');
}
.vehiculos-slider-vw .vw-slider-img-passat-alltrack{
	background-image:url('../percar-child/images/volkswagen/volkswagen-passat-alltrack-vigo-galicia.png');
}
.vehiculos-slider-vw .vw-slider-img-passat-variant{
	background-image:url('../percar-child/images/volkswagen/volkswagen-passat-variant-galicia-pontevedra.png');
}
.vehiculos-slider-vw .vw-slider-img-passat-berlina{
	background-image:url('../percar-child/images/volkswagen/volkswagen-passat-vigo-pontevedra-berlina.png');
}
.vehiculos-slider-vw .vw-slider-img-passat{
	background-image:url('../percar-child/images/volkswagen/volkswagen-passat-vigo-pontevedra.png');
}
.vehiculos-slider-vw .vw-slider-img-polo{
	background-image:url('../percar-child/images/volkswagen/volkswagen-polo-vigo-galicia.png');
}
.vehiculos-slider-vw .vw-slider-img-sharam{
	background-image:url('../percar-child/images/volkswagen/volkswagen-sharam-vigo-pontevedra.png');
	background-size:75%;
}
.vehiculos-slider-vw .vw-slider-img-tiguan-allspace{
	background-image:url('../percar-child/images/volkswagen/volkswagen-tiguan-allspace-vigo-pontevedra.png');
}
.vehiculos-slider-vw .vw-slider-img-tiguan{
	background-image:url('../percar-child/images/volkswagen/volkswagen-tiguan-vigo-pontevedra.png');
}
.vehiculos-slider-vw .vw-slider-img-touareg{
	background-image:url('../percar-child/images/volkswagen/volkswagen-touareg-vigo-pontevedra.png');
	background-size:75%;
}
.vehiculos-slider-vw .vw-slider-img-touran{
	background-image:url('../percar-child/images/volkswagen/volkswagen-touran-vigo-pontevedra.png');
	background-size:75%;
}
.vehiculos-slider-vw .vw-slider-img-t-roc{
	background-image:url('../percar-child/images/volkswagen/volkswagen-t-roc-vigo-galicia.png');
	background-size:85%;
}
.vehiculos-slider-vw .vw-slider-img-up{
	background-image:url('../percar-child/images/volkswagen/volkswagen-up-vigo-galicia.png');
}

/* --   Marcas / volkswagen Comerciales   --  */

.vehiculos-slider-vw-c .vw-slider-img-amarok{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-amarok-vigo-galicia.png');
}
.vehiculos-slider-vw-c .vw-slider-img-caddy-profesional{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-caddy-profesional-vigo-pontevedra.png');
}
.vehiculos-slider-vw-c .vw-slider-img-caddy{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-caddy-vigo-galicia.png');
}
.vehiculos-slider-vw-c .vw-slider-img-california{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-california-vigo-pontevedra.png');
}
.vehiculos-slider-vw-c .vw-slider-img-caravelle{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-caravelle-vigo-galicia.png');
}
.vehiculos-slider-vw-c .vw-slider-img-crafter-chasis{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-crafter-chasis-vigo-pontevedra.png');
}
.vehiculos-slider-vw-c .vw-slider-img-crafter{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-crafter-vigo-galicia.png');
}
.vehiculos-slider-vw-c .vw-slider-img-multivan{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-multivan-vigo-pontevedra.png');
}
.vehiculos-slider-vw-c .vw-slider-img-transporter-chasis{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-transporter-chasis-vigo-galicia.png');
}
.vehiculos-slider-vw-c .vw-slider-img-transporter{
	background-image:url('../percar-child/images/volkswagen-comerciales/volkswagen-transporter-vigo-pontevedra.png');
}


.wpb_single_image img{
	padding-bottom: 5px;
}

/* --   Nosotros   --  */

.nosotros-marcas a{
	margin:auto;
	width:250px;
	display:block;
	margin-top:20px;
}
.nosotros-marcas .nosotros-marca-grid:first-child{
	border-left:1px solid #9EBDE4;
}

.nosotros-marcas .nosotros-marca-grid{
	border-right:1px solid #9EBDE4;
}


/* --   Noticias   --  */
.noticias .item-noticias{
	height: 460px;
}



#noticias-page{
	background:white;
}
#noticias-page .vc_column_container > .vc_column-inner{
	height:70px;
}
.noticias .blog-2 .blog-image + .blog-content{
	min-height: 250px;
}
.pagination-pr{
	text-align: center;
	width:100%;
	clear: both;
	margin-bottom:30px;
	padding-top:15px;
	color:#e3e3e3;
}
.pagination-pr span{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.pagination-pr a{
	display:inline-block;
	padding: 8px 16px;
	border: 1px solid #bebebe;
	color:#bebebe;
	font-size: 15px;
	font-weight: 500;
	margin: 0 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	content:'';
	margin-bottom: 8px;
}
.pagination-pr a:hover{
	border: 1px solid #9ebde4;
	color:white;
	background: #9ebde4;
}
.pagination-pr span.current{
	padding: 8px 16px;
	background: #9ebde4;
	border: 1px solid #9ebde4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 15px;
	font-weight: 500;
	margin: 0 3px;
	color:white;
}

.pagination-pr span.dots{
	background: transparent;
    color: #bebebe;
    border: none;
    padding: 8px 16px;
}

/* --   Noticias - single  --  */

.banner-single-noticia.inner-intro{
	background-size:cover;
	background-color:white;
	background-position: center;
	/*margin-top:110px;*/
}
.content-wrapper.blog{
 	padding-top:50px;
}
.articulo-titulo{
	padding:10px 0;
	border-top:1px solid #9ebde4;
	border-bottom:1px solid #9ebde4;
}
.articulo-titulo h3 a{
	color:#5c6168;
	text-transform: none;
	width:100%;
	margin-bottom:0;
}

.port-navigation-right .port-photo, .port-navigation-left .port-photo{
	display:none;
}
.nav-single .port-navigation .port-navigation-left, .nav-single .port-navigation .port-navigation-right{
	width:auto;
}
.nav-single .port-navigation .port-arrow{
	height:40px;
	width:40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: transparent;
	border:1px solid #9ebde4;
	color:white;
}
.nav-single .port-navigation .port-arrow:hover{
	color:#9ebde4;
}
.nav-single .port-navigation .port-arrow i{
	line-height: 35px
}
.blog-entry .entry-meta li.fecha-single-articulo{
	float:right;
	color:#5c6168;
	padding-top:10px;
}
.blog-entry .nav-single{
	margin-bottom: 15px;
}
.entry-share .share{
	width: 100%;
	background:white;
}

.tags-single-articulo{
	margin-top:20px;
}

.blog-entry .entry-meta li .entry-meta-categories a{
	background:#9ebde4;
	color:white;
	padding:5px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 10px;
	text-transform: uppercase;
}

.blog-entry .entry-meta li .entry-meta-categories.actualidad a{
	background:  #9ebde4;
}
.blog-entry .entry-meta li .entry-meta-categories.volkswagen a{
	background:  #7999c1;
}
.blog-entry .entry-meta li .entry-meta-categories.audi a{
	background:  #f2656d;
}
.blog-entry .entry-meta li .entry-meta-categories.promociones a{
	background: #88CFAC;
}
.blog-entry .entry-meta li .entry-meta-categories.tecnologia a{
	background:  #A040A0;
}
.blog-entry .entry-meta li .entry-meta-categories.promocion-finalizada a{
	background: #FFA040;
}
.blog-entry .entry-meta li .entry-meta-categories a:hover{
	background:#b7d0f1;
    color: #5c6168;
}


.tags-2 ul li a{
	background:  #9ebde4 !important;
	color:white !important;
	padding:5px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-size: 10px;
	border:none;
	text-transform: uppercase;
}

.tags-2 ul li a:hover{
	background:#b7d0f1 !important;
    color: #5c6168 !important;
    border:none;
}

.share .single-share-box{
	display:block;
	float:left;
	margin-left: 50px;
	opacity: 1;
	z-index: 1;
}
.share:hover .single-share-box{
	right:0;
	padding-right: 20px;
}
.share .single-share-box:hover{

}

.sidebar-single-post{
	background: white;
	overflow: visible;
	padding-top:40px;
}

.sidebar-single-post div.wpcf7{
	margin-bottom:10px;
}
.sidebar-single-post .social-full{
	padding-right: 25px;
}
.blog #search-2 .cardealer-auto-compalte-default{
	margin-top:40px;
}
.sidebar-single-post .widget_search{
	padding-left: 20px;
	padding-right: 20px;
}
.sidebar-single-post .widget_search input{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #9ebde4;
}

.sidebar-widget #searchsubmit:hover{
	border:1px solid #b7d0f1;
    background: #b7d0f1;
    color: #5c6168;
}

.sidebar-single-post .newsletter-single-sidebar .container,
.sidebar-single-post .newsletter-single-sidebar .col-lg-4,
.sidebar-single-post .newsletter-single-sidebar .col-md-4{
	width:100% !important;
}
.sidebar-single-post .buscador-single-sidebar {
	background:#9ebde4 !important;
	padding-top:20px;
}
.sidebar-single-post .buscador-single-sidebar .col-sm-6{
	width:100% !important;
}
.sidebar-single-post .buscador-single-sidebar .col-sm-6 .col-sm-12{
	width:100% !important;
	padding:0;
}

.sidebar-single-post .buscador-single-sidebar .search-block{
	background:transparent !important;
}
.sidebar-single-post .buscador-single-sidebar .col-sm-6 > span,
.sidebar-single-post .buscador-single-sidebar .price #slider-range,
.sidebar-single-post .buscador-single-sidebar .price input,
.sidebar-single-post .buscador-single-sidebar .price label{
	display:none;
}

.sidebar-single-post .label-sidebar{
	font-size: 13px;
	color:#9ebde4;
	border-bottom:1px solid #e0e0e0;
	margin-left: 20px;
	margin-right:20px;
}
.sidebar-single-post .label-sidebar.bg-blue{
	color:white;
	margin-bottom: 20px;
}

.sidebar-single-post .screen-reader-response{
	display:none !important;
}
.filter-single-cars-ocasion-sidebar{
	padding-bottom:30px;
	padding-top:0;
}

.filter-single-cars-ocasion-sidebar .select-type-vehicle.search-block{
	padding: 0 35px;
}
.redes-sidebar{
	height:100px;
}
.redes-sidebar .social-full a i{
	color:#9ebde4;
}
.redes-sidebar .social-full a:hover i{
	color:#7999c1;
}

.sidebar-single-post  div.wpcf7-validation-errors{
	margin:10px 15px;
}

.sidebar-widget .cardealer-auto-compalte-default{
	display:none !important;
box-shadow:none;
}
/* --  Noticias - Categoría --  */
.white-bg{
	background-color:white;
}
.inner-intro{
	height:auto;
	overflow:hidden;
}
.banner-single-noticia.inner-intro{
	height: 370px;
}
/* --  Banner cita previa --  */
.header_intro_bg-image.inner-intro{
	height:250px;
}
/* --  Banner nosotros--  */
.header_intro_bg-video.inner-intro{
	height:600px;
}

.header_intro_bg-image::before{
	background: none;
}
.with-right_sidebar #secondary{
	border:1px solid #E0E0E0;
}

.blog-image{
	display: block;
}
.blog-image:hover{
	opacity: .6;
}
/* --   Vehículos details  --  */
.related-single-cars{
	background-color:#C8DAF0;
}
.car-details.page-section-ptb{
	padding-top:0;
	padding-bottom:0;
}
.ficha-head{
	background:#e0e0e0;
	margin-top:0;
	padding-top:20px;
}
.ficha-head h3{
	font-size: 25px;
	font-weight: bold;
/*	line-height: 1.2;*/
	padding-top: 0px;
	text-transform: capitalize;
}
.ficha-head h3 span{
	font-size: 25px;
	font-weight: normal;
}
.ficha-head .car-detail-galeria{
	margin-top:20px;
}
.car-detail-galeria-inner{

    margin-top:-50px !important;
}
.car-detail-galeria-inner .info-caracteristicas{
	font-size: 17px;
    color: #9ebde4;
    font-weight: 500;
    line-height: 1.2;
    padding-top: 7px;
}


.ficha-metas{
	background:#bebebe;
}
.slick-slide img{
	width:100%;
}
/*.slider-nav > div > div.slick-track{
	width:100% !important;
}*/
.btn-interior,.btn-exterior{
	//position: absolute;
}
.car-details-sidebar .details-weight{
	padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    overflow: hidden;
}
.details-weight h5{
	display:none;
}
.fuel-efficiency-detail{
	text-align: center;
}
.fuel-efficiency-detail h4{
	line-height: 1.2;
}
.fuel_efficiency1 .details-weight{
	padding-top:0;
}

.carousel-img{
	height:100px;
}
.slick2.slick-initialized .slick-slide{
	height:120px;
}
.slick-initialized .slick-slide{
	padding-left:4px;
	padding-bottom: 4px;
}
.main-slider-img{
	height:428px;
}

.slick1.slick-initialized .wrapper-slider-img.slick-slide{
	height:428px !important;
}

.wrapper-slider-arrows{
	width: 100%;
	position: absolute;
	top: 40%;
	z-index: 9;
	margin-left: -15px;
}
.wrapper-slider-arrows .prev-arrow{

	display:inline-block;
	width:40px;
	height:40px;
	background-color:white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-left:40px;
	opacity: 0;

}
.wrapper-slider-arrows .prev-arrow:hover{
	background-color:#9ebde4;
}
.wrapper-slider-arrows .prev-arrow:hover::before{
	color:white;
}
.wrapper-slider-arrows .prev-arrow::before{
	font: normal normal normal 14px/1 FontAwesome;
	content: '\f104';
	font-size: 20px;
	line-height: 40px;
	color:  #9ebde4;
	text-align: center;
}
.wrapper-slider-arrows .next-arrow{
	float:right;
	width:40px;
	height:40px;
	line-height: 40px;
	display:inline-block;
	background-color:white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right:40px;
	opacity: 0;
}
.wrapper-slider-arrows .next-arrow:hover{
	background-color:#9ebde4;
}
.wrapper-slider-arrows .next-arrow:hover::before{
	color:white;
}
.wrapper-slider-arrows .next-arrow::before{
	font: normal normal normal 14px/1 FontAwesome;
	content: '\f105';
	font-size: 20px;
	line-height: 40px;
	color:  #9ebde4;
	text-align: center;

}
.galeria-vehiculo-details{
	cursor: pointer;
	margin-top: 10px;
    border-top: 1px solid #e8e8e8;
}
.galeria-vehiculo-details:hover .wrapper-slider-arrows .next-arrow{
	margin-right: 0;
	opacity: 1;
}
.galeria-vehiculo-details:hover .wrapper-slider-arrows .prev-arrow{
	margin-left: 0;
	opacity: 1;
}
.car-details .slick-slider .slick-prev, 
.car-details .slick-slider .slick-next{
	width:40px;
	height:40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	line-height: 40px;
}
.car-details .slick-slider .slick-next::before, 
.car-details-ocasion .slick-slider .slick-next::before{
	color:  #9ebde4;
}
.slide-1{
	margin-top:20px;
}
.slide-2{
	margin-bottom:35px;
}

.galeria-over-ocasion a{
	height:428px;
	width:100%;
	display: block;
	position: absolute;
	z-index: 4;
}
/*.slide1 .carousel-img{
	height:280px;
}
.slide1 .slick-initialized .slick-slide{
	height:280px;
}
.slide1 .main-slider-img{
	height:280px;
}*/

/* --   Detalles vehículo | virtual tour  --  */
#interior{
	padding-bottom: 25px;
	padding-top:20px;
}
.panorama-body {
    font-size: 18px;
    position: relative;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    max-width: 1440px;
    overflow: hidden;
    background: white;
    text-align: center;
    width:100%;
    height:100%;
    overflow: hidden;
}

.panorama-body a{
    color: #528CE0;
}

#panorama{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#panorama:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#panoramaImage {
    display:none;
}
.panorama-body canvas {
    margin-right: auto;
    margin-left: auto;
    margin:auto;
    width: 100%!important;
    height: 100%!important;
}

.top_buttons {
    position: absolute;
    right: 26px;
    top: 26px;
    font-size: 32px;
    color: white;
    border-radius: 30px;
    padding: 11px 1px 10px 6px;
    width: 99px;
    height: 45px;
}

#fullscreen {
    padding: 5px 9px 2px 9px;
    border-radius: 30px;
    cursor: pointer;
    float: right;
    padding-right: 20px;
}

#audio {
    padding: 5px 9px 2px 9px;
    border-radius: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.zoom_conrol{
    position: absolute;
    right: 0px;
    width: 0px;
    font-size: 32px;
    bottom: 55px;
}

#zoom_in {
    cursor: pointer;
}

#zoom_out {
    cursor: pointer;
}
.zoom {
    width: 32px;
    padding: 3px;
    border-radius: 50%;
}

.keys {
    position: absolute;
    left:50%;
    margin-left:-50px;
    bottom:0px;
    font-size: 32px;
    color: white;
    background: rgba(158, 189, 228, 0.8);
    padding: 56px 14px 14px 14px;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

i.keys{
    cursor:pointer;
}
.keys > i {
    cursor: pointer;
}

.key-icon {
    margin: 5px 14px 5px 14px
}
.key_down {
    margin-left:-6px;
}
.keys .control-key img{
	width:25px;
	padding:3px;
}
img#right_key {
    left: 71px;
    top: 11px;
}

img#left_key {
    right: 0px;
    top: 12px;
}

img#up_key {
    bottom: -4px;
    left: 38px;
}

img#down_key {
    bottom: -68px;
    left: 38px;
}

img#elipse_key {
    left: 38px;
    bottom: -37px;
}

.control-key {
    position: absolute;
    bottom: 75px;
    width: 29px;
    right: 72px;
}
.control_keys {
    position: absolute;
    cursor: pointer;
}

.audio_player {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    padding: 6px 18px 5px 25px;
    margin-left: -88px;
    border-radius: 27px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#fullScreenMode {
    cursor: pointer;
    position: absolute;
    right: 27px;
    top: 26px;
    padding: 7px 16px 6px 14px;
    border-radius: 27px;
    z-index: 15;
    background: rgba(158, 189, 228, 0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

i#pButton {
    margin-left: -5px;
    margin-top: -10px;
}

/* --   Detalles vehículo | Share   --  */
.car-detail-post-option{
	margin-top:3px;
	margin-bottom: 3px;
	padding-bottom: 2px;
}
.car-detail-post-option > ul{
	float:right;
}
.car-detail-galeria .port-arrow{
	height:40px;
	width:40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: transparent;
	border:1px solid #9ebde4;
	color:#FCFCFC;
}
.car-detail-galeria .port-arrow:hover{
	background-color:#9ebde4;
	color:white;
}
.car-detail-galeria .port-arrow i{
	line-height: 35px
}
.car-detail-galeria .port-arrow.port-arrow-car-right{
	float:right;
}
.car-detail-galeria .port-arrow.port-arrow-car-left{
	float:left;
}

/*.ficha-head .car-detail-galeria .car-detail-galeria-arrow-right{
	width:40px;
	display: block;
	float:right;
}
.ficha-head .car-detail-galeria .car-detail-galeria-arrow-left{
	width:40px;
	float:left;
}*/

.car-detail-post-option > ul li a.btn-me-interesa{
	padding:5px 10px;
	border:2px solid #f2656d;
	color:#5c6168;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-right:10px;
}
.car-detail-post-option > ul li a.btn-me-interesa:hover{
	padding:5px 25px;
	color:#f2656d;
}

.btn-detalles-like,  .wpulike-robeen svg{
	display: inline-block;
	cursor: pointer;
	padding:2px;
	color:#5c6168;
	width:38px;
	height:38px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-right:10px;
	
}

.pgs_cars_carousel-wrapper .wpulike-robeen svg,
.product-listing .wpulike-robeen svg,
.related-single-cars .wpulike-robeen svg,
.vehiculos-usuario-likes .wpulike-robeen svg{
	display: inline-block;
	cursor: pointer;
	padding:2px;
	color:#5c6168;
	width:32px;
	height:32px;
	margin-top:3px;
	margin-right: 0;
	border-radius: 50% 0px 0px 50%;
	-moz-border-radius: 50% 0px 0px 50%;
	-webkit-border-radius: 50% 0px 0px 50%;
	background-color:#9ebde4;
	
}
.btn-detalles-like, .car-detail-post-option-share .wpulike-robeen svg{
	border:2px solid #5c6168;

}
.related-single-cars .wpulike-robeen svg,
.product-listing .wpulike-robeen svg{
	margin-right: 0;
}

.car-item .price span.new-price,
.car-item .price .reservado-slide,
.car-item .price .oferta-single,
.car-item .price .vendido-single{
	padding-right:20px;
}

/* en listado productos */
.product-listing .btn-detalles-like, .product-listing .wpulike-robeen svg,
.vehiculos-usuario-likes .wpulike-robeen svg,
.pgs_cars_carousel-wrapper .wpulike-robeen svg{
}
.product-listing .wpulike-robeen svg path.heart,
.vehiculos-usuario-likes  .wpulike-robeen svg path.heart,
.pgs_cars_carousel-wrapper .wpulike-robeen svg path.heart,
.related-single-cars  .wpulike-robeen svg path.heart{
	fill:white;
}
/* /en listado productos */

.wpulike-robeen .count-box{
 bottom: 12px;
right: 5px;
margin-right: 10px;
}
.btn-detalles-print{
	display: block;
	cursor: pointer;
	padding:5px 10px;
	color:#5c6168;

	border:2px solid #5c6168;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.filter-single-cars-likes .section-title span{
	display:inline-block;
	color:#f2656d;
}
/* --   Detalles vehículo | Atributos   --  */

.car-detail-post-option-share{
	border-top:2px solid #9ebde4;
	background: #E0E0E0;
}
.car-detail-post-option-share .car-detail-post-option{
	background:transparent;
	border: 0;
}
.attr-single-vehiculo{
	margin-bottom: 10px;
}
.attr-single-vehiculo i{
	display: inline-block;
	background-repeat:no-repeat;
	margin-right:8px;
	background-size: 80%;
	height:30px;
	width:30px;
	background-position: center;
}
.attr-single-vehiculo .attr-value{
	display:inline-block;
}
.attr-single-vehiculo .attr-value span{
	font-weight: bold;
	display:block;
}
.attr-single-vehiculo strong{
	font-weight: lighter;
	color:white;
	font-size: 14px;
}
.attr-single-vehiculo .ico-motorizacion{

	background-image:url('../percar-child/images/iconos/cilindrada.png');
}
.attr-single-vehiculo .ico-combustible{
	background-image:url('../percar-child/images/iconos/combustible.png');
	background-size: 65%;
}
.attr-single-vehiculo .ico-consumo-medio{
	background-image:url('../percar-child/images/iconos/consumo.png');
}
.attr-single-vehiculo .ico-cambio{
	background-image:url('../percar-child/images/iconos/cambio.png');
	background-size: 75%;
}
.attr-single-vehiculo .ico-puertas{
	background-image:url('../percar-child/images/iconos/puertas.png');
	background-size: 65%;
}
.attr-single-vehiculo .ico-color{
	background-image:url('../percar-child/images/iconos/color.png');
}
.attr-single-vehiculo .ico-fecha-de-matriculacion{
	background-image:url('../percar-child/images/iconos/fecha.png');
}
.attr-single-vehiculo .ico-kilometraje{
	background-image:url('../percar-child/images/iconos/kilometraje.png');
}
.car-details .car-price .old-price,
.car-details-ocasion .car-price .old-price{
	display: block;
	color: #5c6168;
	text-decoration:line-through;
	font-weight: 600;

}
.car-details .car-price .new-price,
.car-details-ocasion .car-price .new-price{
	color: #f2656d;
	font-size: 22px;
	font-weight: 600;
}
.car-details .slider-slick,
.car-details-ocasion .slider-slick{
	margin-top:20px;
}

.car-details{
	background-color:#C8DAF0;
}
.oferta-single{
	color: #4da54d;
	font-size: 25px;
	display: block;
	padding-bottom: 7px;
	font-weight: 600;
}
.vendido-single{
	color: #f2656d;
	font-size: 24px;
	display: block;
	padding-bottom: 7px;
	font-weight: 600;
}
.reservado-single{
	font-size: 24px;
	display: block;
	padding-bottom: 7px;
	font-weight: 600;
	color:#FF8000;
}


.car-item .oferta-single,
.car-item .reservado-single,
.car-item .vendido-single{
	font-size: 18px;
}

.car-item .sold, .car-price .sold{
	bottom:0;
}
.car-details .car-price .car-status.sold{
	top:0;
}
.car-item .sold{
	position: absolute;
    z-index: 9;
    width: 100%;
    text-align: center;
    background-position: center;
    background-color: rgba(255,255,255,.8);
    height:140px;
}
.owl-item .car-price .sold{
	background-color: rgba(255,255,255,.8);
    margin-top: -30px;
    margin-left: -20px;
}
.vehiculos-ocasion-lista .car-item .sold{
	left:-20px;
	margin-top:-30px;
}

.vehiculos-usuario-likes .car-item .sold{
	left:0px;
	margin-top:-30px;
}

.btn-ver-detalles{
	width:100%;
	background-color:#5c6168;
	color:white;
	border:0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ver-detalles-tabs{
	margin-top:20px;
}
.ver-detalles-tabs #tabs ul.tabs li{
	color:white;
}
.ver-detalles-tabs #tabs ul.tabs li.active{
	color: #7999c1;
}
.fuel-efficiency-detail{
	float:right;
}

/*.tabs-ver-detalles.nav-tabs{
	border-bottom:0;
	text-align: center;
	width:100%;
}
.ver-detalles-tabs .nav-tabs>li{
    margin-top:5px;
}
.ver-detalles-tabs .nav-tabs>li>a{
    border: 1px solid  white;
    padding: 3px 15px;
    padding-bottom: 5px;
    font-weight: 500;
    color: white ;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    font-size: 12px;
    margin-right:4px;
}

.ver-detalles-tabs .nav-tabs>li.active>a{
	color:#9ebde4;
	border: 1px solid #9ebde4;
}
.ver-detalles-tabs .tab-content>.tab-pane{
	padding:20px;
}
.ver-detalles-tabs .tab-content>.tab-pane span{
	font-weight: 600;
}*/
.nav-tabs>li>a{
	border:none;
}
.tabs-ver-detalles.nav-tabs{
	border-bottom:0;
	text-align: center;
	width:100%;
}
.ver-detalles-tabs .nav-tabs>li{

}
.ver-detalles-tabs .nav-tabs>li>a{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    line-height: 25px;
    color: #363636;
    overflow: hidden;
    background: transparent;
    margin-bottom: 0px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.ver-detalles-tabs .nav-tabs>li>a{
	color:white;
	background:none;
}
.ver-detalles-tabs .nav-tabs>li>a:focus,.ver-detalles-tabs .nav-tabs>li>a:active,
.ver-detalles-tabs .nav-tabs>li>a:focus-within,.ver-detalles-tabs .nav-tabs>li>a:visited{
	border:0;
	border-bottom: 3px solid #9ebde4;
}
.ver-detalles-tabs .nav-tabs>li>a:hover{
	border: 0;
	border-bottom: 3px solid #9ebde4 !important;
}
.ver-detalles-tabs .nav-tabs>li.active>a{
	color:#7999c1;
	border:0;
	border-bottom: 3px solid #9ebde4;
	background: none;
}
.ver-detalles-tabs .tab-content>.tab-pane{
	padding:20px;
}

.ver-detalles-tabs .tab-content>#equipacion.tab-pane{
	/*text-transform: lowercase;*/
}
.ver-detalles-tabs .tab-content>#equipacion.tab-pane p{
	margin-bottom: 2px;
	display:inline-block;
	padding-left:8px;
	padding-right: 8px;
	text-transform: capitalize;
}
.ver-detalles-tabs .tab-content>#equipacion.tab-pane p:before{
	content:' | ';
	margin-right:8px;
}
.ver-detalles-tabs .tab-content>#equipacion.tab-pane p:last-child:before{
	content:'';
}
.ver-detalles-tabs .tab-content>.tab-pane span{
	font-weight: 600;
}
/* --   Vehículo Detalles / información de vehículo  --  */
.vehiculo-details-single{
	background:#e0e0e0;
	padding-top:30px;
}
.vehiculo-details-single h3{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom:0;
	margin-top:20px;
}
.vehiculo-info-details{
	border:1px solid #9ebde4;
	background-color:#FBFBFB;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	overflow: hidden;
}
.vehiculo-info-details .info-marca{
	font-size: 17px;
	display:block;
	text-transform: capitalize;
}
.vehiculo-info-details .info-modelo{
	font-weight: bold;
	font-size: 17px;
}
.vehiculo-info-details .info-caracteristicas{
	color:#9ebde4;
	padding-top:10px;
}
.vehiculo-info-details .inner-info{
	padding-top:20px;
	padding-bottom: 20px;
}
.vehiculo-info-details .oferta-single{
	color: #4da54d;
	font-size: 25px;
	display: block;
	padding-bottom: 7px;
	font-weight: 600;
}
.vehiculo-info-details .p-left, .vehiculo-info-details.p-left{
	padding-left:0;
}
.vehiculo-details-single .btn-back{
		padding-bottom: 20px;
		font-size: 17px;
		color: #7999c1;
}
@media (max-width: 768px) {
	.vehiculo-info-details .p-left, .vehiculo-info-details.p-left{
		padding-right:0;
	}
	.vehiculo-info-details .inner-info, .vehiculo-info-details .inner-info .text-right{
		text-align:center;
	}
	.cars-top-filters-box-right .selected-box .nice-select{
		margin-bottom: 10px !important;
	}
	.owl-item .car-price .sold{
		margin-left:0;
		margin-top:0;
	}
}
@media (max-width: 845px) {
	.car-item .car-content > a{
		margin-right:20px;
	}
}

.vehiculo-info-details img{
	width:100%;
}
.vehiculo-info-details .old-price{
	display:block;
	text-decoration:line-through;
}
.vehiculo-info-details .new-price{
	font-size: 19px;
	font-weight: bold;
	color:#f2656d;
}
.vehiculo-details-single .nice-select{
	width:100%;
	margin-bottom: 20px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background-color:#5c6168;
	color:white;
	text-align: center;
}
.vehiculo-details-single .nice-select .current,
.vehiculo-details-single .nice-select .option{
	text-align: center;
}
.vehiculo-details-single .nice-select::before{
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background-color:#5c6168;
	color:white;
}
.vehiculo-details-single .nice-select .option.focus, 
.vehiculo-details-single .nice-select .option.selected.focus, 
.vehiculo-details-single .nice-select .option:hover{
	background-color:#bebebe;
}
.vehiculo-details-single .nice-select .list{
		background-color:#5c6168;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/* --   Details vehículos / filtro búsqueda   --  */

.filter-single-cars{
 	background: #9ebde4;	
 	margin-top:0px;
 	padding-top:10px;
}
.car-details .filter-single-cars{
 	padding-top:20px;
}
.filter-single-cars .search-block{
	background: transparent;
	padding-top:0;
}
.filter-single-cars .section-title{
	margin-bottom:40px;
}

.filter-single-cars .price input,
.filter-single-cars .price label,
.filter-single-cars .price div{
 display: none;
}
.filter-single-cars.filter-grid-cars .price input,
.filter-single-cars.filter-grid-cars .price label,
.filter-single-cars.filter-grid-cars .price div{
 display: block;
}
.filter-single-cars.filter-grid-cars .price input{
display:inline;
	color:#f2656d;
}
.price-slide #slider-range{
	margin-bottom: 0;
}
.ui-slider-horizontal .ui-slider-range{
	height:1px;
	background: white;
}
.filter-single-cars.filter-grid-cars .price label{
padding-top:10px;
color:white;
}
.filter-single-cars.filter-grid-cars{
	margin-top:0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border:none;
	background:#f2656d;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.ui-slider-horizontal{
	height:.3em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    display: block;
}
.ui-state-focus{
	background:#fb999f;
}

.filter-grid-cars-fav .section-title span {
    display: inline-block;
    color: #f2656d;
}

/* -- Botones login -- */

.um-um_password_id.um input[type=submit].um-button, .um-um_account_id.um input[type=submit].um-button,
.um-4838.um input[type=submit].um-button,
.um-4839.um input[type=submit].um-button{
    -webkit-border-radius: 30px!important;
	-moz-border-radius: 30px!important;
	border-radius: 30px!important;
	padding:10px 0!important;
    -webkit-transition: all 0.5s ease-out 0s!important;
    -moz-transition: all 0.5s ease-out 0s!important;
    -ms-transition: all 0.5s ease-out 0s!important;
    -o-transition: all 0.5s ease-out 0s!important;
    transition: all 0.5s ease-out 0s!important;
    border-top: none!important;
    border-bottom: none!important; 
}

.um-um_password_id.um input[type=submit].um-button:hover,
.um-um_account_id.um input[type=submit].um-button:hover,
.um-4838.um input[type=submit].um-button:hover,
.um-4839.um input[type=submit].um-button:hover{
    background:#b7d0f1!important;
	color:#5c6168;
}

.um-4839.um .um-button.um-alt, .um-4838.um .um-button.um-alt{
   background: #5c6168!important;
    -webkit-border-radius: 30px!important;
	-moz-border-radius: 30px!important;
	border-radius: 30px!important;
	padding:10px 0!important;
    border-top: none!important;
    border-bottom: none!important; 
}

.um-4839.um .um-button, .um-4838.um .um-button{
    color: #ffffff!important;
}

.um-4839.um .um-button.um-alt:hover,
.um-4838.um .um-button.um-alt:hover{
   background: #757779!important;
}

.um-um_password_id.um .um-form input[type=text],
.um-um_account_id.um .um-form input[type=text], .um-um_account_id.um .um-form input[type=password],
.um-4838.um .um-form input[type=password], .um-4838.um .um-form input[type=text],
.um-4839.um .um-form input[type=password], .um-4839.um .um-form input[type=text]{
    -webkit-border-radius: 15px!important; 
	-moz-border-radius: 15px!important; 
	border-radius: 15px!important; 
	border:1px solid #9ebde4!important; 
	color:#5c6168!important; 
	padding: 8px 12px!important; 
	background:white!important; 
	margin-bottom:10px!important; 
	width:100%!important; 
}

.um-um_account_id.um input[type=submit].um-button{
    padding: 10px 15px!important;
}

.um-account-name{
	font-size: 16px;
    font-weight: bold;
    color: #9ebde4;
}
.um-misc-img{
	display:none;
}
/* --   Forms   --  */
div.wpcf7{
	padding-top:20px;
	margin-bottom:40px;
}

.wpcf7-form textarea{
	height: 100px;
}
.wpcf7-acceptance span.wpcf7-list-item {
	margin: 0;
}
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form input[type="tel"], .wpcf7-form textarea{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:1px solid #9ebde4;
	color:#5c6168;
	padding: 8px 12px;
	background:white;
	margin-bottom:10px;
	width:100%;
}
.wpcf7-form input[type="submit"]{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background:#9ebde4;
	color:white;
	padding:10px 0;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;

}

.wpcf7-form input[type="submit"]:hover, .um-4839.um input[type=submit].um-button:hover{
	background:#b7d0f1;
	color:#5c6168;
}

.wpcf7-form input[type="checkbox"]{
/* appearance: none;
 -moz-appearance: none;
 -webkit-appearance: none;
*/ border: 1px solid #c8c6c6;
 width: 15px;
 height: 15px;
 border-radius: 10px;
 margin: 0 5px 0 0;
}
div.wpcf7-mail-sent-ok{
	border: none;
	background: #92d792;
	color: white;
	padding: 10px;
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	border: none;
	background: #e77272;
	color: white;
	padding: 10px;
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.sidebar-single-post div.wpcf7-mail-sent-ok,
.sidebar-single-post div.wpcf7-validation-errors, 
.sidebar-single-post div.wpcf7-acceptance-missing{
	margin-left:15px;
	margin-right:15px;
}

.selectpicker .custom-filters-box{
  	display:none !important;
}
/* --   Footer   --  */
.footer_bg-image{
	background:#5c6168 !important;

}
.footer_opacity::before{
	background:#45494E !important;
}
#footer .copyright-block{
	background:#9ebde4;
	padding:10px;
	text-align: center;
	color:white;
}
#footer .copyright-block:before{
	background:none;
}
#footer .logo-footer{
	background-image: url('../percar-child/images/logo-pr-footer.png');
	height:23px;
	width:210px;
	margin:auto;
	background-size:100% auto;
	background-repeat: no-repeat;
	margin-bottom:20px;
}
#footer .social-full a i{
	font-size: 16px;
	color:white;
	line-height: 40px;
}
#footer .social-full{
	max-width: 120px;
	margin:auto;
	border:0;
}
#footer .footer-links{
	width:330px;
	margin:auto;
}
#footer .footer-links a{
	padding: 0 5px;
	text-align: center;
}
#footer hr{
	border-bottom:1px solid #9ebde4;
	background:#9ebde4;
	margin:10px;
}
#footer p{
	color:white;
	text-align: center;
	margin-bottom:0;
}
#footer > .container > .row{
	padding-top:30px;
}


/* --   Bootstrap grid impar   --  */

/*
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}*/

 /* Dropdown Button */
.dropbtn {
    border: none;
    background: transparent;
    color:white;
    padding-bottom: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
    line-height: 1.8;
}

.dropdown-content {
	border-top:3px solid #9ebde4;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content a {
    color:#9ebde4 !important;
    padding: 5px 16px;
    border-bottom:1px solid #e0e0e0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color:#7999c1 !important;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    background:#9ebde4;
    color:white;
} 
.topbar-register-login .unlogued{
	list-style: none;
}
.topbar-register-login .unlogued li{
	display: inline-block;
	margin-left:5px;
}
.topbar-register-login .unlogued li a:hover{
	color:#7999c1 !important;
}


@media (max-width: 600px) {
	.cars-top-filters-box-right{
		float:right;
		width:auto;
		margin-bottom:20px;
		margin-top:20px;
	}
	.product-listing.page-section-ptb .section-title{
		margin-left:20px;
		margin-right:20px;
	}
}
@media (max-width: 479px) {
	.topbar-register-login .unlogued{
		padding:3px 0;
	}
	.topbar-register-login .unlogued li a{
		font-size: 12px;
	}
	.topbar-left a{
		font-size:11px !important;
	}
	.galeria-vehiculo-details{
		padding-left:0;
		padding-right: 0;
	}
	.wrapper-slider-arrows{
		margin-left:0;
	}
	.cars-top-filters-box-right .selected-box, .cars-top-filters-box-right .cars-order {
	    display: block;
	}
	.product-listing .selected-box{
		margin-left:20px;
		padding-top:20px;
	}
	.product-listing-ocasion .selected-box{
		margin-left:0;
		padding-top:10px;
	}
	.product-listing .cars-top-filters-box-right{
		margin-bottom: 15px;
	}
	#listado-vehiculos-ocasion{
		padding-top:1px;
		clear:both;
	}
	.product-listing .section-title{
		border-bottom:none;
	}
	.cars-top-filters-box-right .selected-box .nice-select{
		width:95%;
	}
	.slick-next{
		right:-20px !important;
	}
	.slick-prev{
		left:-20px !important;
	}
	.cars-top-filters-box-right{
		float:none;
		width:100%;
	}

}


 /* Ultimate memebers */

.um-account-main div.um-account-heading{
	padding-bottom: 20px;
	border-bottom:2px solid #d8d9da;
}
.um-misc-ul{
	list-style:none;
	padding-left:0 !important;
	margin-left: 0 !important;
}
.um-misc-ul li {
	background-color:#9ebde4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.um-misc-ul li a{
	text-align: center;
	color:white;
}
label[for=user_password-4838]::after{
	content: " *";
}

@media (max-width: 768px) {
	.section-title h2, .home-fullwidth .section-title span{
	    font-size: 25px;
	    line-height: 1.2;
	    padding:0 10px;
	}
	.home-fullwidth .section-title h2{
		line-height: 1.2;
		margin-top:20px;
	}
	.search-block .sort-filters-box > div {
	    width: 100%;
	    float: left;
	}
	.ficha-head{
		margin-top:0;
	}

	.ficha-head h3{
		text-align: center;
	}
	.noticias .item-noticias{
		margin:0 20px;
	}
	.owl-item .car-item {
	    min-height: auto !important;
	}
	.owl-item .car-item .car-price{
		position:relative;
		padding-left:0;
		margin-bottom:0;
	}
	.price_slider_wrapper{
		clear:both;
	}
	.vehiculos-usuario-likes .car-item{
		height:280px;
	}

	.product-listing .section-title{
		margin-bottom:40px;
	}
	.product-listing .car-item,
	.vehiculos-usuario-likes .car-item{
		height:auto !important;
		width:100%;
	}
	.product-listing .car-price,
	.vehiculos-usuario-likes .car-price{
		position:relative;
	}
	.vehiculos-usuario-likes .car-price{
		margin-left: 0px;
	}
	.car-content a.car-slide-ver-coche{
		margin-bottom:0;
	}

	.car-item .car-image{
		max-height: none;
	}
	.product-listing .car-price{
		background:transparent;
		color:#5c6168;
		padding:0px;
		position: relative;
		bottom: 0;
		text-align: center;
		width: 100%;
		margin-left: 2px;
	}
	.car-item .car-content{
		padding-right:0;
	}
	.reservado-slide,.new-price{
		padding-right:20px;
	}
	.car-details .car-price.text-right,
	.car-details-ocasion .car-price.text-right{
		width:100%;
		text-align: center;
		margin-top:10px;
		padding-top:12px;
	}
	.car-detail-galeria .car-price .new-price{
		padding-right:0;
	}
	.text-slider > a{
		margin-right:20px;
	}
	.product-listing .car-item{
		height:auto !important;
		min-height: auto;
	}
	.vehiculos-ocasion-lista .car-item .sold{
		left: 0px;
    	margin-top: 0px;
	}
	.ver-detalles-tabs .nav-tabs>li>a{
		width:40px;
		height: 40px;
	}
	.carousel-img{
		height:70px;
	}
	.main-slider-img{
		height:300px;
	}
	.galeria-over-ocasion a{
		height:300px;
	}
	.product-listing .cars-top-filters-box-right{
		margin-right:20px;
	}
	.product-listing.product-listing-ocasion .cars-top-filters-box-right{
		margin-right:0px;
		margin-bottom:10px;
	}
	.product-listing.page-section-ptb .section-title{
		margin-left:20px;
		margin-right:20px;
	}
}

.galeria-mobile{
	display:none;
	width:100%;
	height:100%;;
    position: absolute;
    top: 0;
/*	background-color:rgba(92, 97, 104, .1);*/
}

.galeria-mobile a{
	display:block;
	width:100%;
	height:100%;
    top: 0;
    background-image: url('images/ico-plus.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgba(8, 8, 8, 0);
    opacity: 0;
}
.galeria-mobile a:hover{
	background-color:rgba(8, 8, 8, .7);
	   opacity: .9;
}

@media (max-width: 992px) {
	.car-detail-galeria-inner{
		margin-top:20px !important;
		padding-left:0;
		padding-right:0;
	}
	.noticias .item-noticias{
		height: auto;
	}
	.noticias .blog-2 .blog-image + .blog-content{
		min-height: auto;
	}
	.noticias .img-responsive{
		width:100%;
	}
	#header .menu .menu-inner div > .row > div{
		height:auto;
	}
	.both{
		clear:both;
	}
	#header .topbar-left.text-left, 
	#header .topbar-right.text-right{
		text-align: left;
	}
	.list-inline li{
		display: none;
	}
	.list-inline li.topbar_item{
		display: inline-block;
	}
	.topbar-register-login .dropdown-content{
		margin-left:-90px;
	}

	.car-item .car-overlay-banner{
		display:none;
	}
	.galeria-mobile{
		display:block;

	}

	#header.logo-center .menu-logo .mobile-icons-trigger{
		display:none;
	}
	.zoom_conrol{
		right:60px;
		bottom:55px;
	}

}

@media only screen and (max-width: 992px) and (min-width: 768px) {
	.vehiculos-usuario-likes .car-item{
		height:280px;
	}
	.product-listing .car-item{
		height: 420px;
	}

}

@media (max-width: 1200px) {
	.price_slider_wrapper{
		margin-top:10px;
	}
}

/************ Share Icons Shortcode **************/


.sc-share-box.a_left {
	text-align:left;
}
.sc-share-box.a_right {
	text-align:right;
}
.sc-share-box.a_center {
	text-align:center;
}
.sc-share-box ul {
	display:inline-block;
}
.sc-share-box ul {
    width: 100%;
	margin:0;
}

.sc-share-box.a_center ul {
	margin-left:5px;
}
.sc-share-box.a_center ul li, .sc-share-box.a_left ul li {
	float:left;
	margin-right:10px!important;
}
.sc-share-box.a_right ul li {
	float:left;
	margin-left:10px!important;
}
.sc-share-box.a_center.business_share_icons ul li, .sc-share-box.a_left.business_share_icons ul li, .sc-share-box.a_right.business_share_icons ul li {
    float: left;
    margin-right: 0.5%!important;
    margin-left: 0.5% !important;
    width: 15.66%!important;
    height: 40px!important;
}
.sc-share-box a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0);
}
.sc-share-box.business_share_icons a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
}
.sc-share-box a:hover {
	background:none !important;
}
.sc-share-box ul li a:before {
	width: 170px;
	height: auto;
	font-size: 14px;
	min-height: 30px;
	text-align: center;
	color: #fff;
	background: #171d22;
	position: absolute;
	left: 50%;
	margin-left: -85px;
	top: -36px;
	border-radius: 3px;
	opacity:0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.sc-share-box ul li a:after {
	position: absolute;
	content: "";
	border-color: #171d22 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	border-style: solid solid solid solid;
	border-width: 5px 5px 5px 5px;
	height: 0;
	left: 50%;
	margin-left: -5px;
	top: -6px;
	opacity:0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.sc-share-box.business_share_icons ul li a:after {
    top: 3px;
}
.sc-share-box ul li a:hover:before {
	opacity:1;
	top: -46px;
}
.sc-share-box.business_share_icons ul li a:hover:before {
    opacity: 1;
    top: -56px;
}
.sc-share-box ul li a:hover:after {
	opacity:1;
	top: -16px;
}



/* ------------------------------------------------------------------- */


/* Política de cookies */

.cdp-cookies-boton-cerrar {
    background-color: #9ebde4!important;
    color: #5c6168!important;
}

.cdp-cookies-alerta.cdp-cookies-textos-izq .cdp-cookies-texto p{
    font-size: 12px;
}

.titulo h2{ /* Eliminar .marcas-titulo h2 del otro css */
    font-weight: bold;
}

.titulo-vw h2{
    font-weight: bold;
    color: #0099da;
}

.wpcf7-recaptcha{
    margin: 20px 0px;
}

.topbar-left a{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}

/* Formulario de cita previa */

.contenedor-form {
    margin: 0 auto;
    width: 100%;
}

.contenedor-azul {
    background-color: #9ebde4;
    width: 100%;
    padding: 1% 10% 2%;
}

.contenedor-gris {
    background-color: #e0e0e0;
    width: 100%;
    padding: 3% 10% 3%;
}

#cont-recordatorio-cita {
    border-bottom: 2px solid #9ebde4;
    border-top: 2px solid #9ebde4;
    padding: 10px 0px;
    margin: 10px 5px;
}

#cont-observaciones{
    margin-top: 15px;
}

#recordatorio-cita {
    color: #f2656d;
    padding: 5px 2px;
}

.form-titulo {
    border-bottom: 2px solid #5c6168;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.wpcf7-form input[type="text"]:focus, .wpcf7-form input[type="email"]:focus{
	background-color:white;
}

.contenedor-form h1{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0px;
}

.contenedor-form .wpcf7-select{
    margin-bottom: 15px;
    width: 100%;
}

.contenedor-form .wpcf7-date{
    width: 100%;  
    padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid;
} 

.contenedor-form .nice-select, .contenedor-form .wpcf7-date{
	width:100%;
	margin-bottom: 20px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background-color:#5c6168;
	color:white;
	text-align: center;
}

.contenedor-form .nice-select::before{
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background-color:#5c6168;
	color:white;
}

.contenedor-form .nice-select .option.focus, 
.contenedor-form .nice-select .option.selected.focus, 
.contenedor-form .nice-select .option:hover{
	background-color:#bebebe;
}

.contenedor-form .nice-select .list{
    background-color:#5c6168;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

 .col-md-5{
	min-height: 1px; 
	position: relative;
}

@media (min-width: 992px) {
	.col-md-5 {
		float: left;
		width: 20%;
	}
}  

.texto-icono{
	text-align: center;
	margin: 0 auto;
	display: block;
	font-size: 13px;
}

div.checkbox-image {
	padding: 5%;
    height:200px;
}

div.checkbox-image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.contenedor-form br {
	display: none;
}

.button.black {
    background: #323232;
    color: #ffffff;
}

.boton {
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    background: #5c6168;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 50px;
    position: relative;
    clear: both;
    overflow: hidden;
    border-radius: 30px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.boton:hover {
    color: #ffffff;
    background-color: #757779;
}

#footer .social-full a i:hover, .footer-links a:hover{
    color: #9ebde4;
}

@media (max-width: 992px)
{
    .social-full a:hover {
        background-color: transparent!important;
}
}

#desarrollo-pie{
    color: #FFFFFF;
}

.nav-single .port-navigation .port-arrow i{
        color: #9ebde4;
}

.blog-entry .entry-title{
    margin-bottom: 25px;
}

.info-marca, .info-modelo{
    color: #5c6168;
}

.caja-busqueda{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #9ebde4;
    color: #5c6168;
    background: white;
    width: 100%;
}

@media (max-width: 479px){
    #btn-buscar {
        margin-top: 15px!important;
}
}

#btn-buscar {
    margin-left: 10px;
}


#texto-404{
    color: #5c6168;
}

#ups{
    margin-top: 15px;
    margin-right: 15px;
}

.button:before {
    background: none;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    -ms-transform-origin: none;
    -moz-transform-origin: none;
    -o-transform-origin: none;
    -webkit-transform-origin: none;
    transform-origin: none;
    -ms-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration:none;
    -ms-transition-duration: none;
    -o-transition-duration: none;
    -moz-transition-duration: none;
    -ms-transition-duration: none;
    -o-transition-duration: none;
    -webkit-transition-duration: none;
    transition-duration: none;
    -ms-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    -webkit-transition-timing-function: none;
    transition-timing-function: none;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.button{
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.search-block .button:hover {
    background-color: #757779;
}

.price-slide a.button{
    font-weight: 400;
}


.icon-redes{
    display: block;
    font-size: 75px;
    color: #5c6168;
    text-align: center;
    padding: 10px;
}

.icon-redes:hover{
    color: #7999c1;
}

@media (max-width: 992px){
    .icon-redes{
        font-size: 45px;
    }
    .gracias-redes{
        margin-top: 30px;
    }
}

@media (max-width: 578px){
    .icon-redes{
        font-size: 25px;
    }
}

.otro-modelo{
    display: none;
}

.mega-menu .drop-down-multilevel a {
    text-transform: initial;
}

#menu-item-4905 {
    background-color: white!important;
}

#menu-item-4905 a{
    color: #5c6168;
}

#header .menu .menu-inner div > .row #primary-menu > li#menu-item-4905 > a {
    color: #5c6168;
}

.mega-menu .drop-down-multilevel {
    background-color: white!important;
    color: #5c6168!important;
}

.um-profile-edit i:hover{
    color: #9ebde4;
}

.error-page img {
    margin-top: 0;
}

.conocenos{
	/*background-image:url('images/conocenos1.png');*/
    display: block;
    overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#link-conocenos {
	display: block;
}

div.velo {
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
}

div.velo-on {
    opacity: 0.3;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

div.velo-off {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#boton-conocenos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    background: #9ebde4;
    color: #ffffff;
    vertical-align: middle;
    padding: 10px 50px;
    clear: both;
    overflow: hidden;
    border-radius: 30px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

#boton-conocenos:hover{
    background: #b7d0f1;
}

/* --   Galería de imágenes: Empleados 1 --  */
.emp, .emp-v, .emp-h, .emp-c {
	overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #afb9bb;
}
/*
.emp-1{
	background-image:url('images/galerias/empleados/empleado1.jpg');

}
.emp-2{
	background-image:url('images/galerias/empleados/empleado2.jpg');
}
.emp-3{
	background-image:url('images/galerias/empleados/empleado3.jpg');
}
.emp-4{
	background-image:url('images/galerias/empleados/empleado4.jpg');
}
.emp-5{
	background-image:url('images/galerias/empleados/empleado5.jpg');
}

.emp-6{
	background-image:url('images/galerias/empleados/empleado6.jpg');
}
.emp-7{
	background-image:url('images/galerias/empleados/empleado7.jpg');
}
.emp-8{
	background-image:url('images/galerias/empleados/empleado8.jpg');
}
.emp-9{
	background-image:url('images/galerias/empleados/empleado9.jpg');
}

*/

/* --   Galería de imágenes: Empleados 2 --  */

/*

.emp-10{
	background-image:url('images/galerias/empleados/empleado10.jpg');
}
.emp-11{
	background-image:url('images/galerias/empleados/empleado11.jpg');
}
.emp-12{
	background-image:url('images/galerias/empleados/empleado12.jpg');
}
.emp-13{
	background-image:url('images/galerias/empleados/empleado13.jpg');
}
.emp-14{
	background-image:url('images/galerias/empleados/empleado14.jpg');
}
.emp-15{
	background-image:url('images/galerias/empleados/empleado15.jpg');
}
.emp-16{
	background-image:url('images/galerias/empleados/empleado16.jpg');
}
.emp-17{
	background-image:url('images/galerias/empleados/empleado17.jpg');
}
.emp-18{
	background-image:url('images/galerias/empleados/empleado18.jpg');
}*/

/* --   Galería de imágenes: Volkswagen --  */

.vw-1{
	background-image:url('images/galerias/volkswagen/Per_Volks_01.jpg');
	background-size: cover;
}
.vw-2{
	background-image:url('images/galerias/volkswagen/Per_Volks_02.jpg');
	background-size: cover;
}
.vw-3{
	background-image:url('images/galerias/volkswagen/Per_Volks_05.jpg');
	background-size: cover;
}
.vw-4{
	background-image:url('images/galerias/volkswagen/Per_Volks_11.jpg');
	background-size: cover;
}
.vw-5{
	background-image:url('images/galerias/volkswagen/Per_Volks_09.jpg');
	background-size: cover;
}

/* --   Galería de imágenes: Volkswagen Comerciales  --  */

.vwc-1{
	background-image:url('images/galerias/vw-comerciales/Per_Volks_03.jpg');
	background-size: cover;
}
.vwc-2{
	background-image:url('images/galerias/vw-comerciales/Per_Volks_10b.jpg');
	background-size: cover;
}
.vwc-3{
	background-image:url('images/galerias/vw-comerciales/Per_Volks_14.jpg');
	background-size: cover;
}
.vwc-4{
	background-image:url('images/galerias/vw-comerciales/Per_Volks_08.jpg');
	background-size: cover;
}
.vwc-5{
	background-image:url('images/galerias/vw-comerciales/Per_Volks_12a.jpg');
	background-size: cover;
}

/* --   Galería de imágenes: Posventa  --  */

.pv-1{
	background-image:url('images/galerias/posventa/Concesionario-Percar-Posventa-01.jpg');
	background-size: cover;
}
.pv-2{
	background-image:url('images/galerias/posventa/Concesionario-Percar-Posventa-04.jpg');
	background-size: cover;
}
.pv-3{
	background-image:url('images/galerias/posventa/Concesionario-Percar-Posventa-05.jpg');
	background-size: cover;
}
.pv-4{
	background-image:url('images/galerias/posventa/Concesionario-Percar-Posventa-02.jpg');
	background-size: cover;
}
.pv-5{
	background-image:url('images/galerias/posventa/Concesionario-Percar-Posventa-03.jpg');
	background-size: cover;
}

/* --   Galería de imágenes: Audi  --  */

.audi-1{
	background-image:url('images/galerias/audi/Concesionario-Audi-Percar-02.jpg');
	background-size: cover;
}
.audi-2{
	background-image:url('images/galerias/audi/Concesionario-Audi-Percar-01.jpg');
	background-size: cover;
}
.audi-3{
	background-image:url('images/galerias/audi/Concesionario-Audi-Percar-04.jpg');
	background-size: cover;
}
.audi-4{
	background-image:url('images/galerias/audi/Concesionario-Audi-Percar-05.jpg');
	background-size: cover;
}
.audi-5{
	background-image:url('images/galerias/audi/Concesionario-Audi-Percar-03.jpg');
	background-size: cover;
}

@media (min-width: 992px) {
    .galeria-movil {
        display:none;
    }
}

@media (max-width: 991px) {
    .galeria-movil {
        display:block;
    }
    .galeria-desktop {
        display:none;
    }
}
.ssbp-wrap {
width: 100%!important;
}

@media (max-width: 800px) {
.ssbp-wrap {
margin-bottom: 20px;
}
}

.sidebar-single-post .proteccion_datos_form{
    margin-top: 15px;
    text-align: justify;
}

.comment-form-comment{
    margin-bottom: 10px;
}

.privacidad{
    display: inline-block;
    margin-bottom: 10px;
}

/* --  Cita prevía fixed --  

.cita-previa-fix{
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 20px 5px;
    position: fixed;
    z-index: 999;
    background-color: #5c6168; 
    color: #FFFFFF;
    right: 0;
    top: 50%;
    margin-top: -45px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    border-left: 5px solid #b7d0f1;
}

.cita-previa-fix:hover{
    background-color: #757779;
    color:#FFF;
}

*/

/* --  Cita prevía fixed --  */

.cita-previa-fix{
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 20px 5px;
    position: fixed;
    z-index: 999;
    background-color: #5c6168;
    color: #FFFFFF;
    right: 0;
    top: 50%;
    margin-top: -45px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    border-left: 5px solid #5c6168;
}

.cita-previa-fix a{
    color: #FFFFFF;
    vertical-align: middle;
}

.cita-previa-fix:hover{
    background-color: #757779;
}

.cita-previa-fix a:hover{
    color: #FFFFFF;
}

.icon-cita{
    font-size: 14px;
    padding-right: 12px;
    color: #FFFFFF;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}